@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nirmala+UI&display=swap');


@media print {
	body {
		margin: 0 !important;
	}
}
/* Editor css */
#toolbar {
	display: flex;
	flex-wrap: wrap; /* Allows items to wrap on smaller screens */
	align-items: center;
	background-color: #f9fafb; /* Light gray background */
	border-radius: 0.375rem; /* Rounded corners */
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
	padding: 4px; /* Padding around the toolbar */
	gap: 0.5rem; /* Spacing between items */
  }
  

  
