/* Editor css */

/* .ck ol{
  margin-bottom:0;
  margin-top:0;
  padding-inline-start:48px;
}
.ck ul{
  margin-bottom:0;
  margin-top:0;
  padding-inline-start:48px;
}

.ck.ck-content p.line-indent {
  text-indent: 50px; 
}

.ck-content .default {
  font-size: 11pt;
} */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nirmala+UI&display=swap');


@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	--ckeditor5-preview-height: calc(100vh - 93px);
	/* font-family: 'Lato'; */
	/* width: fit-content; */
	font-family: 'Nirmala UI', sans-serif;

	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Noto Sans Bengali', sans-serif;
	line-height: 1.6;
	word-break: break-word;
}

.editor-container__editor-wrapper {
	display: flex;
	/* width: fit-content; */
}

.editor-container_document-editor {
	border: 1px solid var(--ck-color-base-border);
}

.editor-container_document-editor .editor-container__toolbar {
	display: flex;
	position: relative;
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
}

.editor-container_document-editor .editor-container__toolbar>.ck.ck-toolbar {
	flex-grow: 1;
	width: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.editor-container_document-editor .editor-container__menu-bar>.ck.ck-menu-bar {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.editor-container_document-editor .editor-container__editor-wrapper {
	max-height: var(--ckeditor5-preview-height);
	min-height: var(--ckeditor5-preview-height);
	overflow-y: scroll;
	background: var(--ck-color-base-foreground);
}

.editor-container_document-editor .editor-container__editor {
	margin-top: 28px;
	margin-bottom: 28px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* .editor-container_document-editor .editor-container__editor .ck.ck-editor__editable {
    box-sizing: border-box;
    min-width: calc(193mm + 2px);
    max-width: calc(193mm + 2px);
    height: fit-content;
    padding: 20mm;
    border: 1px hsl(0, 0%, 82.7%) solid;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
    margin-left: auto;
    margin-right: auto;
    position: relative;
} */

.editor-container_document-editor .editor-container__editor .ck.ck-editor__editable {
    box-sizing: border-box;
    min-width: calc(180mm + 2px); /* Legal width: 21.6 cm = 216 mm */
    max-width: calc(180mm + 2px);
    height: fit-content;
    padding: 20mm;
    border: 1px hsl(0, 0%, 82.7%) solid;
    background: repeating-linear-gradient(
        to bottom,
        hsl(0, 0%, 100%) 0px,
        hsl(0, 0%, 100%) 844px, /* Legal height (35.6 cm) */
        hsl(0, 0%, 82.7%) 850px, /* Thicker break line at 35.6 cm */
        hsl(0, 0%, 100%) 851px
    );
    box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
    flex: 1 1 auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

